.reply {
  &__container {
    display: flex;
    align-items: center;
  }

  &__content {
    flex-grow: 1;
  }

  &__like-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  &__like-button {
    margin-right: 10px;
  }
}